* {
  box-sizing: border-box;
}
body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
}

/* Write CSS code here */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.card-list-container {
  list-style: none;
  padding: 10px;
}
.card-list {
  width: 100vw;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-between;
  align-items: center;
}
.header-card-header {
  font-size: 28px;
}
.header-card-para {
  font-size: 15px;
}
